<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
<body>
  <form action="/update/<%= objstudent._id %>" method="post">
    <label for="fname">First name</label>
    <input type="text" id="fname" name="fname" placeholder="First name" value="<%= objstudent.fname %>"><br><br>
    <label for="lname">last name</label>
    <input type="text" id="lname" name="lname" placeholder="last name" value="<%= objstudent.lname %>"><br><br>
    <label for="phone">phone</label>
    <input type="text" name="phone" placeholder="phone" value="<%= objstudent.phone %>"><br><br>
    <label for="level">level</label>
    <input type="number" name="level" placeholder="level" value="<%= objstudent.level %>"><br><br>
    <label for="group">group type</label>
    <select name="groupType">
      <option value="<%= objstudent.groupType %>"><%= objstudent.groupType %></option>
      <option value="عام">عام</option>
      <option value="خاص">خاص</option>
    </select><br><br>
    <label> اليوم الاول </label>
    <select name="dayOne">
      <option value="<%= objstudent.dayOne %>"><%= objstudent.dayOne %></option>
      <option value="select">--select--</option>
      <option value="sunday">sunday</option>
      <option value="monday">monday</option>
      <option value="teusday">teusday</option>
      <option value="wednesday">wednesday</option>
      <option value="thursday">thursday</option>
      <option value="friday">friday</option>
      <option value="saturday">saturday</option>
    </select>
    <label> اليوم الثاني </label>
    <select name="dayTwo">
      <option value="<%= objstudent.dayTwo %>"><%= objstudent.dayTwo %></option>
      <option value="select">--select--</option>
      <option value="sunday">sunday</option>
      <option value="monday">monday</option>
      <option value="teusday">teusday</option>
      <option value="wednesday">wednesday</option>
      <option value="thursday">thursday</option>
      <option value="friday">friday</option>
      <option value="saturday">saturday</option>
    </select> <br><br>
    <label>من</label>
    <input type="text" name="startHour" value="<%= objstudent.startHour %>">
    <label>إلى</label>
    <input type="text" name="endHour" value="<%= objstudent.endHour %>">
    <br><br>
    <label>اسم السنتر</label>
    <input type="text" name="place" value="<%= objstudent.place %>"><br><br>
    <label for="code">Code</label>
    <input type="text" name="code" placeholder="code" value="<%= objstudent.code %>">
    <br><hr>
    
    <input type="submit" value="edit" class="btn btn-lg btn-dark">
  </form>
  <br><br>
</body>
</html>